#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgb(48 65 242);
  color: rgb(255, 251, 251);
}

header a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: red;
}